.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  box-shadow: none !important;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  box-shadow: none !important;
  border: 1px solid #3278b5;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  box-shadow: none !important;
  border: 1px solid #3278b5;
}

.was-validated .form-select:valid:focus,
.form-select.is-valid:focus {
  box-shadow: none !important;
  border: 1px solid #3278b5;
}

.was-validated .form-select:valid,
.form-select.is-valid {
  box-shadow: none !important;
  border: 1px solid #3278b5;
}

.was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"], .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.was-validated .form-control:valid, .form-control.is-valid {
    padding-right: 0.75rem;
}

.form-select.is-valid,
.was-validated .form-select:valid {
  box-shadow: none !important;
}
.form-select.is-invalid,
.was-validated .form-select:invalid {
  box-shadow: none !important;
}
.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.form-control:focus {
  border: 1px solid #3278b5;
  box-shadow: none;
}
.form-select:focus {
  border: 1px solid #;
  box-shadow: none !important;
}